/**========================================================
    RESPONSIVE CSS

    Created: Feb. 12, 2015
    Modified from provided Keyboard template

    Browsers supported: IE8+, Chrome, Firefox

    Known limitations:
    - Navigation wraps at less than 313px wide
========================================================**/

/**========================================================
    GENERAL 
========================================================**/

body {
    margin: 0;
    padding: 0;
    background: #050505 url(../img/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5B5B5B;
}

#wrapper {
    background: #FFFFFF url(../img/img05.jpg) repeat;
}

.container {
    width: 95%;
    margin: 0px auto;
}

/* clearfix from: http://css-tricks.com/snippets/css/clear-fix/ 
   Good for IE8 and above */
.clearfix: after {
    content: "";
    display: table;
    clear: both;
}

/**========================================================
    TYPE
========================================================**/

h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 190%;
}

a {
    color: #5E5E5E;
}

a:hover {
}

/**========================================================
    HEADER
========================================================**/

/* Main - HTML5 fix for IE8 */
main {
    display: block;
}

#header {
    margin: 0 auto;
    padding: 1rem 0 0 0;
}

/* Logo */

#logo {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

#logo h1 {
    letter-spacing: -2px;
    font-size: 2.0em;
    text-align: center;
}

#logo h1 a {
    color: #1F1F1F;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #000000;
}

/* Menu */

#menu {
    margin: 0 auto 2rem auto;
    padding: 0;
    text-align: center;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
    display: inline-table;
}

#menu li {
    float: left;
    text-align: center;
    display: inline;
}

#menu a {
    display: block;
    line-height: 3rem;
    margin-right: 1px;
    padding: 0px 10px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #1F1F1F;
    border: none;
}

#menu a:hover, #menu .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    text-decoration: none;
    color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Banner */

#banner {
    margin: 0px auto;
    width: 95%;
    background: url(../img/img03.png) no-repeat left bottom;
}

#banner .banner-img img {
    width: 100%;
}

/**========================================================
    PAGE CONTENT
========================================================**/

#page {
    width: 95%; 
    margin: 0 auto;
    padding: 15px 0px;
}

#content {
    padding: 0px 0px 0px 0px;
}

.post {
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px solid #E7EBED;
}

.post .title {
    padding: 0;
    letter-spacing: -1px;
}

.post .title a {
    border: none;
    text-decoration: none;
    color: #222222;
}

.post .meta {
    margin-bottom: 30px;
    padding: 10px 0px 0px 0px;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .meta a {
}

.post .entry {
    padding: 0px 0px 20px 0px;
    text-align: left;
}

.links {
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
}

.more {
    margin-right: 10px;
}

.comments, .more {
    display: block;
    float: left;
    width: 5rem;
    padding: 5px 5px;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */

#sidebar {
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0px 0px;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 40px;
    border-bottom: 1px solid #E7EBED;
    margin: 0px 0px;
    border-left: none;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar li li a {
    padding: 0px 0px 0px 20px;
    background: url(../img/img04.jpg) no-repeat left 50%;
}

#sidebar h2 {
    height: 38px;
    padding: 0px 0px 10px 0px;
    letter-spacing: -.5px;
    font-size: 1.8em;
    color: #222222;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 30px 20px 30px;
    text-align: justify;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Three Column Footer Content */

#footer-content {
    overflow: hidden;
    width: 95%;
    margin: 0px auto;
    color: #D6E2F0;
}

#footer-content a {
    color: #92A9B6;
}

#footer-bg {
    overflow: hidden;
    padding: 30px 0px;
    background: #E8E8E8;
}

#footer-content h2 {
    margin: 0px;
    padding: 0px 0px 20px 0px;
    letter-spacing: -1px;
    font-size: 26px;
    color: #262626;
}

#footer-content #fbox1 {
    float: left;
    width: 30%;
    margin-right: 50px;
}

#footer-content #fbox2 {
    float: left;
    width: 30%;
}

#footer-content #fbox3 {
    float: right;
    width: 30%;
}

#footer-content a {
}

#column1 {
    float: left;
    width: 29%;
    margin-right: 30px;
}

#column2 {
    float: left;
    width: 28%;
}

#column3 {
    float: right;
    width: 26%;
}

/* Footer */

#footer {
    height: 140px;
    margin: 0 auto;
    padding: 50px 0 15px 0;
    font-family: 'Abel', sans-serif;
}

#footer p {
    margin: 0;
    padding-top: 10px;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #5E5E5E;
}

#footer a {
    color: #5E5E5E;
}

/**========================================================
    MEDIA QUERIES
========================================================**/

/* Above 400px use slightly larger fonts */
@media (min-width: 400px) {
    #logo h1 {
        font-size: 2.8em;
    }

    #menu {
        margin: 0 auto 2rem auto;
    }

    #menu a {
        line-height: 4rem;
        padding: 0px 10px;
        font-size: 14px;
    }

    h2 {
        font-size: 2.4em;
    }
}

/* Above 800px use larger fonts, additional spacing, justified posts */
@media (min-width: 800px) {
    #logo h1 {
        float: left;
        font-size: 3.8em;
    }

    #menu {
        float: right;
        margin: 0 0 2rem 0;
    }

    #menu a {
        line-height: 6rem;
        padding: 0px 20px;
        font-size: 16px;
    }

    h2 {
        font-size: 2.8em;
    }

    #page { 
        padding: 30px 0px;
    }

    #sidebar {
        padding: 30px 0px 0px 0px;
    }

    #sidebar h2 {
        padding: 0px 0px 30px 0px;
    }

    .post {
        margin-bottom: 40px;
    }

    .post .entry {
        padding: 0px 0px 40px 0px;
        text-align: justify;
    }

    .post .title {
        padding: 7px 0px 0px 0px;
    }

    .links {
        padding-top: 20px;
        margin-bottom: 30px;
        font-size: 14px;
    }

    .comments, .more {
        width: 5.5rem;
    }

}

/* Above 850px wide, go to two columns for the page content */
@media (min-width: 850px) {
    #content {
        float: right;
        width: 66%;
    }

    #sidebar {
        float: left;
        width: 28%;
    }

}

/* Above 350px wide, use a little more white space on the sides */
@media (min-width: 350px) {
    .container {
        width: 90%;
    }

    #page {
        width: 90%; 
    }

    #footer-content {
        width: 90%;
    }

    #banner {
        width: 90%;
    }

}